/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');


a{
    text-decoration: none;
}
body{
    margin: 0%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
*{
    box-sizing: border-box;
}